<form action="/deleteUser" method="DELETE">
    
</form>

<form action="/deletePuntajes" method="DELETE">
    
</form>

<form action="/deletePreguntas" method="DELETE">
    
</form>


<form action="/addQuestion" method="POST">
    
</form>

<form action="/editQuestion" method="PUT">

</form>