
<center><h2 class="menu">Menu</h2></center>
<ul>
    <div>
        <form action="/crearSala" method="GET">
        <li onclick="showCrearSala()"><span>Crear Sala</span></li>
            <div id="inputSala" style="display: none;">
                <label for="ingrese numero de sala">Ingrese un numero de sala</label>
                <input id="Sala" name="crearSala">
                <button type="submit" onclick="conseguirSala()">Crear sala</button>
            </div>
        </form>
    </div>
    <form action="/unirsejuego" method="GET">
            <li onclick="showUnirseSala()"><span>Unirse a Sala</span></li>
        <div id="inputSala2" style="display: none;">
            <label for="ingrese numero de sala">Ingrese un numero de sala</label>
            <input id="Sala2" name="unirseSala">
            <li onclick="unirseSala()">Unirse sala</li>
        </div>
    </form>
    <form action="/reglas" method="GET"><li><span>Reglas</span></li></form>
    <form action="/estadisticas" method="GET"><li><span>Estadisticas</span></li></form>
    <form action="/admin" method="GET"><li><span>Admin</span></li></form>
</ul>
 

