
<center><h2>Menu</h2></center>
<ul>
    <div>
        <form action="/crearjuego" method="GET">
            <li><span>Crear Sala</span></li>
            <div id="inputSala">
                <label for="ingrese numero de sala">Ingrese un numero de sala</label>
                <input id="Sala" name="crearSala">
                <button type="submit">Crear sala</button>
            </div>
        </form>
    </div>
    <form action="/unirsejuego" method="GET">
        <div id="inputSala2">
            <li><span>Unirse a Sala</span></li>
            <label for="ingrese numero de sala">Ingrese un numero de sala</label>
            <input id="Sala2" name="unirseSala">
            <button type="submit" onclick="unirseSala()">Unirse sala</button>
        </div>
    </form>
    <form action="/reglas" method="GET"><li><span>Reglas</span></li></form>
    <form action="/estadisticas" method="GET"><li><span>Estadisticas</span></li></form>
    <form action="/admin" method="GET"><li><span>Admin</span></li></form>
</ul>


