
<center><h2 class="menu">Menu</h2></center>
<ul>
    <form action="/juego" method="GET"><li><span>Jugar</span></li></form>
    <form action="/reglas" method="GET"><li><span>Reglas</span></li></form>
    <form action="/estadisticas" method="GET"><li><span>Estadisticas</span></li></form>
    <form action="/admin" method="GET"><li><span>Admin</span></li></form>
</ul>
 

