<div class="tablero">
       <div class="borde random" id=0><div id="ficha1" class="fichita fichita-p1"></div> <div class="fichita fichita-p2"></div><div class="fichita fichita-p3"></div><div class="fichita fichita-p4"></div></div>
       <div class="borde historia" id=1></div>
       <div class="borde deportes" id=2></div>
       <div class="borde ciencia" id=3></div>
       <div class="borde arte" id=4></div>
       <div class="borde entretenimiento" id=5></div>
       <div class="borde historia" id=6></div>
       <div class="borde deportes" id=7></div>
       <div class="borde ciencia" id=8></div>
       <div class="borde arte" id=9></div>
       <div class="borde entretenimiento" id=10></div>
       <div class="borde random" id=11></div>
       <div class="borde entretenimiento" id=43></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div class="borde historia" id=12></div>
       <div class="borde ciencia" id=42></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div class="borde deportes" id=13></div>
       <div class="borde arte" id=41></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div class="borde arte" id=14></div>
       <div class="borde deportes" id=40></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div class="borde ciencia" id=15></div>
       <div class="borde historia" id=39></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div><button onclick="TirarDado()"><img  class="dado" src="/images/dado.png"></button></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div class="borde entretenimiento" id=16><img src="/images/estrella1.png"></div>
       <div class="borde entretenimiento" id=38></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div class="borde historia" id=17></div>
       <div class="borde ciencia" id=37></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div class="borde deportes" id=18></div>
       <div class="borde arte" id=36></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div class="borde arte" id=19></div>
       <div class="borde deportes" id=35></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div class="borde ciencia" id=20></div>
       <div class="borde historia" id=34></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div class="borde entretenimiento" id=21></div>
       <div class="borde random" id=33></div>
       <div class="borde entretenimiento" id=32></div>
       <div class="borde ciencia" id=31></div>
       <div class="borde arte" id=30></div>
       <div class="borde deportes" id=29></div>
       <div class="borde historia" id=28></div>
       <div class="borde entretenimiento" id=27></div>
       <div class="borde ciencia" id=26></div>
       <div class="borde arte" id=25></div>
       <div class="borde deportes" id=24></div>
       <div class="borde historia" id=23></div>
       <div class="borde random" id=22></div>
</div>