<section id="espera"> 
    <h2 style="">Espera mientras algun usuario se conecta....</h2>
    <img src="https://usagif.com/wp-content/uploads/loading-13.gif">
    <button onclick="changeWaitingRoom()">Comenzar juego</button>
</section>
<div class="fichitaGrandeP1">
       <h4 id="player1"></h4>
</div>
<div id="jugador2" class="fichitaGrandeP2">
       <h4 id="player2"></h4>
</div>
<div id="jugador3" class="fichitaGrandeP3">
       <h4 id="player3"></h4>
</div>
<div id="jugador4" class="fichitaGrandeP4">
       <h4 id="player4"></h4>
</div>
<section id="juego" style="display: none;">
       <div class="tablero">
              <div class="borde random" id=1><div id="ficha1" class="fichita fichita-p1"></div> <div class="fichita fichita-p2"></div><div class="fichita fichita-p3"></div><div class="fichita fichita-p4"></div></div>
              <div class="borde historia" id=2></div>
              <div class="borde deportes" id=3></div>
              <div class="borde ciencia" id=4></div>
              <div class="borde arte" id=5></div>
              <div class="borde entretenimiento" id=6></div>
              <div class="borde historia" id=7></div>
              <div class="borde deportes" id=8></div>
              <div class="borde ciencia" id=9></div>
              <div class="borde arte" id=10></div>
              <div class="borde entretenimiento" id=11></div>
              <div class="borde random" id=12></div>
              <div class="borde entretenimiento" id=13></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>    
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div class="borde historia" id=14></div>
              <div class="borde ciencia" id=15></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div class="borde deportes" id=16></div>
              <div class="borde arte" id=17></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div class="borde arte" id=18></div>
              <div class="borde deportes" id=19></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div class="borde ciencia" id=20></div>
              <div class="borde historia" id=21></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div class="borde entretenimiento" id=22></div>
              <div class="borde entretenimiento" id=23></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div class="borde historia" id=24></div>
              <div class="borde ciencia" id=25></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div class="borde deportes" id=26></div>
              <div class="borde arte" id=27></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div class="borde arte" id=28></div>
              <div class="borde deportes" id=29></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div class="borde ciencia" id=30></div>
              <div class="borde historia" id=31></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div class="borde entretenimiento" id=32></div>
              <div class="borde random" id=33></div>
              <div class="borde entretenimiento" id=34></div>
              <div class="borde ciencia" id=35></div>
              <div class="borde arte" id=36></div>
              <div class="borde deportes" id=37></div>
              <div class="borde historia" id=38></div>
              <div class="borde entretenimiento" id=39></div>
              <div class="borde ciencia" id=40></div>
              <div class="borde arte" id=41></div>
              <div class="borde deportes" id=42></div>
              <div class="borde historia" id=43></div>
              <div class="borde random" id=44></div>
       </div>
</section>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/wb.js"></script>
<script>
       unirseSala();
</script>