
<div>
       <div class="tablero">
              <div class="borde random" id=1><div id="ficha1" class="fichita fichita-p1"></div> <div class="fichita fichita-p2"></div><div class="fichita fichita-p3"></div><div class="fichita fichita-p4"></div></div>
              <div class="borde historia" id=2></div>
              <div class="borde deportes" id=3></div>
              <div class="borde ciencia" id=4></div>
              <div class="borde arte" id=5></div>
              <div class="borde entretenimiento" id=6></div>
              <div class="borde historia" id=7></div>
              <div class="borde deportes" id=8></div>
              <div class="borde ciencia" id=9></div>
              <div class="borde arte" id=10></div>
              <div class="borde entretenimiento" id=11></div>
              <div class="borde random" id=12></div>
              <div class="borde entretenimiento" id=13></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div class="borde historia" id=14></div>
              <div class="borde ciencia" id=15></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div class="borde deportes" id=16></div>
              <div class="borde arte" id=17></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div class="borde arte" id=18></div>
              <div class="borde deportes" id=19></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div class="borde ciencia" id=20></div>
              <div class="borde historia" id=21></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div class="borde entretenimiento" id=22></div>
              <div class="borde entretenimiento" id=23></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div class="borde historia" id=24></div>
              <div class="borde ciencia" id=25></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div class="borde deportes" id=26></div>
              <div class="borde arte" id=27></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div class="borde arte" id=28></div>
              <div class="borde deportes" id=29></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div class="borde ciencia" id=30></div>
              <div class="borde historia" id=31></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div class="borde entretenimiento" id=32></div>
              <div class="borde random" id=33></div>
              <div class="borde entretenimiento" id=34></div>
              <div class="borde ciencia" id=35></div>
              <div class="borde arte" id=36></div>
              <div class="borde deportes" id=37></div>
              <div class="borde historia" id=38></div>
              <div class="borde entretenimiento" id=39></div>
              <div class="borde ciencia" id=40></div>
              <div class="borde arte" id=41></div>
              <div class="borde deportes" id=42></div>
              <div class="borde historia" id=43></div>
              <div class="borde random" id=44></div>
       </div>
</div>

<div >
       <div class="modal-dialog modal-dialog-centered" tabindex="-1" id="myModal" >
       <div class="modal-dialog">
       <div class="modal-content">
       <div class="modal-header">
              <center><h5 class="modal-title" id="id_titulo">PREGUNTA</h5>
              <div id="number"></div>
              </center>
       </div>
       <div class="modal-body">
       <center>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="opcion1" >OPCION 1</button>
              <br>
              <br>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="opcion2" >OPCION 2</button>
              <br>
              <br>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="opcion3" >OPCION 3</button>
              <br>
              <br>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="opcion4" >OPCION 4</button>  
       </center>
       </div>
       <div class="modal-footer">
       </div>
       </div>
       </div>
       </div>
</div>