<div class="tablero">
    <center>
        <div>
            <input name="1" class="square" style="background-color: grey" id="0" maxlength="0" disabled>
            <input name="1" class="square" style="background-color: yellow" id="1" maxlength="0" disabled>
            <input name="1" class="square" style="background-color: red" id="2" maxlength="0" disabled>
            <input name="1" class="square" style="background-color: orange" id="3" maxlength="0" disabled>
            <input name="1" class="square" id="4" maxlength="0" disabled>
            <input name="1" class="square" id="5" maxlength="0" disabled>
            <input name="1" class="square" id="6" maxlength="0" disabled>
            <input name="2" class="square" id="7" maxlength="0" disabled>
            <input name="2" class="square" id="8" maxlength="0" disabled>
            <input name="2" class="square" id="9" maxlength="0" disabled>
            <input name="2" class="square" id="10" maxlength="0" disabled>
            <input name="2" class="square" id="11" maxlength="0" disabled>        
        </div>
        <div>
            <input name="5" class="squareMedio" id="12" maxlength="0" disabled>
            <input name="2" class="squareMedio2" id="13" maxlength="0" disabled>
        </div>
        <div>
            <input name="5" class="squareMedio" id="14" maxlength="0" disabled>
            <input name="2" class="squareMedio2" id="15" maxlength="0" disabled>
        </div>
        <div>
            <input name="5"  class="squareMedio" style="background-color: yellow" id="16" maxlength="0" disabled>
            <input name="2"  class="squareMedio2" id="17" maxlength="0" disabled>
        </div>
        <div>
            <input name="5" class="squareMedio" id="18" maxlength="0" disabled>
            <input name="2" class="squareMedio2" id="19" maxlength="0" disabled>
        </div>
        <div>
            <input name="5" class="squareMedio" id="20" maxlength="0" disabled>
            <input name="2" class="squareMedio2" id="21" maxlength="0" disabled>
        </div>
        <div>
            <input name="5" class="squareMedio" id="22" maxlength="0" disabled>
            <input name="2" class="squareMedio2" id="23" maxlength="0" disabled>
        </div>
        <div>
            <input name="5" class="squareMedio" id="24" maxlength="0" disabled>
            <input name="2" class="squareMedio2" id="25" maxlength="0" disabled>
        </div>
        <div>
            <input name="5" class="squareMedio" id="26" maxlength="0" disabled>
            <input name="2" class="squareMedio2" id="27" maxlength="0" disabled>
        </div>
        <div>
            <input name="5" class="squareMedio" id="28" maxlength="0" disabled>
            <input name="2" class="squareMedio2" id="29" maxlength="0" disabled>
        </div>
        <div>
            <input name="5" class="squareMedio" id="input28" maxlength="0" disabled>
            <input name="2" class="squareMedio2" style="background-color: red" id="30" maxlength="0" disabled>
        </div>
        <div>
            <input name="5" class="square" id="31" maxlength="0" disabled>
            <input name="5" class="square" id="32" maxlength="0" disabled>
            <input name="5" class="square" id="33" maxlength="0" disabled>
            <input name="5" class="square" id="34" maxlength="0" disabled>
            <input name="5" class="square" id="35" maxlength="0" disabled>
            <input name="5" class="square" id="36" maxlength="0" disabled>
            <input name="5" class="square" id="37" maxlength="0" disabled>
            <input name="2" class="square" id="38" maxlength="0" disabled>
            <input name="2" class="square" id="39" maxlength="0" disabled>
            <input name="2" class="square" id="40" maxlength="0" disabled>
            <input name="2" class="square" id="41" maxlength="0" disabled>
            <input name="2" class="square" id="42" maxlength="0" disabled>
        </div>
    </center>
</div>