<div class="tablero">
       <div class="random" id="1"></div>
       <div class="historia"></div>
       <div class="deportes"></div>
       <div class="ciencia"></div>
       <div class="arte"></div>
       <div class="entretenimiento"></div>
       <div class="historia"></div>
       <div class="deportes"></div>
       <div class="ciencia"></div>
       <div class="arte"></div>
       <div class="entretenimiento"></div>
       <div class="random"></div>
       <div class="entretenimiento"></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div class="historia"></div>
       <div class="ciencia"></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div class="deportes"></div>
       <div class="arte"></div>
       <div></div>
       <div class="a"></div>
       <div></div>
       <div></div>
       <div class="a"></div>
       <div></div>
       <div class="a"></div>
       <div></div>
       <div class="a"></div>
       <div></div>
       <div class="arte"></div>
       <div class="deportes"></div>
       <div></div>
       <div class="a"></div>
       <div></div>
       <div class="a"></div>
       <div></div>
       <div class="a"></div>
       <div></div>
       <div></div>
       <div class="a"></div>
       <div></div>
       <div class="ciencia"></div>
       <div class="historia"></div>
       <div class="a"></div>
       <div></div>
       <div class="a"></div>
       <div class="a"></div>
       <div></div>
       <div class="a"></div>
       <div></div>
       <div class="a"></div>
       <div></div>
       <div class="a"></div>
       <div class="entretenimiento"></div>
       <div class="entretenimiento"></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div class="historia"></div>
       <div class="ciencia"></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div class="deportes"></div>
       <div class="arte"></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div class="arte"></div>
       <div class="deportes"></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div class="ciencia"></div>
       <div class="historia"></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div class="entretenimiento"></div>
       <div class="random" id="casillero0"></div>
       <div class="entretenimiento"></div>
       <div class="ciencia"></div>
       <div class="arte"></div>
       <div class="deportes"></div>
       <div class="historia"></div>
       <div class="entretenimiento"></div>
       <div class="ciencia"></div>
       <div class="arte"></div>
       <div class="deportes"></div>
       <div class="historia"></div>
       <div class="random"></div>
</div>