<div><form action="/login" method="POST" id="form1" class="container-sm">
    <div class="mb-3 form-group">
        <center><h2 class="texto">Login</h2></center>
    </div>
    <center><div class="col-auto shadow p-3 mb-5 bg-light rounded border border-secondary" id="contenedor">
        <div class="mb-3 form-group">
            <label class="form-label">Email</label>
            <center><input type="text" class="form-control" id="usuarioId" name="Email" value="" placeholder="Email adresss"></center>
        </div>
        <div class="mb-3 form-group">
            <label for="passwordId" class="form-label">Password</label>
            <center><input type="password" class="form-control" id="passwordId" name="password" placeholder="Password"></center>
        </div>
        <div class="mb-3 form-check">
            <center><input type="submit" class="botonlogin" value="Ingresar"></center>
        </div>
    </form>
    <form action="/register" method="GET" class="container-sm">
        <div class="mb-3 form-check">
            <center><input type="submit" class="botonregistro" value="Registrarse"></center>
        </div>
    </div></center>
</form></div>
