<div><form action="/login" method="POST" id="form1" class="container-sm">
    <div class="mb-3 form-group">
        <center><h2 class="texto">Iniciar sesion</h2></center>
    </div>
    <center><div class="col-auto shadow p-3 mb-5 bg-light rounded border border-secondary" id="contenedor">
        <div class="mb-3 form-group">
            <label class="form-label">Email</label>
            <center><input class="form-control" name="email" placeholder="Email adress"></center>
        </div>
        <div class="mb-3 form-group">
            <label class="form-label">Password</label>
            <center><input class="form-control" name="password" placeholder="Password"></center>
        </div>
        <div class="mb-3 form-check">
            <center><button type="submit" class="botonlogin">Ingresar</button></center>
        </div>
    </form>
    <form action="/register" method="GET" class="container-sm">
        <div class="mb-3 form-check">
            <center><button type="submit" class="botonregistro">Registrarse</button></center>
        </div>
    </div></center>
</form></div>