<form action="/register" method="POST" class="container-sm">
    <div class="mb-3 form-group">
        <center><h2 class="texto">Register</h2></center>
    </div>    
    <center><div class="col-auto shadow p-3 mb-5 bg-light rounded border border-secondary" id="contenedor">
        <center><div class="mb-3 form-group">
            <label for="email" class="form-label">Email</label>
            <center><input type="email" class="form-control" id="email" name="email" value="" placeholder="Email adress" required /></center>
        </div></center>
        <center><div class="mb-3 form-group">
            <label for="username" class="form-label">Username</label>
            <input type="username" class="form-control" id="username" name="username" value="" placeholder="Username" required />
        </div></center>
        <center><div class="mb-3 form-group">
            <label for="password" class="form-label">Password</label>
            <center><input type="password" class="form-control" id="password" name="password" placeholder="Password" required /></center>
        </div></center>
        <center><div class="mb-3 form-check">
            <center><input type="submit" class="botonregistro2" value="Registrarse"></center>
        </div></center>
    </div></center>
</form>