<form action="/register" method="POST" class="container-sm">
    <div class="mb-3 form-group">
        <center><h2 class="texto">Register</h2></center>
    </div>    
    <center><div class="col-auto shadow p-3 mb-5 bg-light rounded border border-secondary" id="contenedor">
        <center><div class="mb-3 form-group">
            <label class="form-label">Email</label>
            <center><input type="email" class="form-control" name="email" placeholder="Email adress" required /></center>
        </div></center>
        <center><div class="mb-3 form-group">
            <label class="form-label">Username</label>
            <input type="username" class="form-control" name="username" placeholder="Username" required />
        </div></center>
        <center><div class="mb-3 form-group">
            <label class="form-label">Password</label>
            <center><input type="password" class="form-control" name="password" placeholder="Password" required /></center>
        </div></center>
        <center><div class="mb-3 form-check">
            <center><button type="submit" class="botonregistro2">Registrarse</button></center>
        </div></center>
    </div></center>
</form>
<div>{{message}}</div>