<div class="col-auto shadow p-3 mb-5 bg-light rounded border border-black" id="reglas">
    <center><h2>Reglas</h2></center>
    <br>
    <p>1. El objetivo es avanzar por el tablero respondiendo preguntas hasta ganar cinco estrellas.</p>
    <p>2. Cada jugador tira el dado, avanza y tiene que responder una pregunta de la categoria que le toco en el casillero.</p>
    <p>3. Conseguis una estrella si respondes bien una pregunta de los casilleros marcados.</p>
    <p>4. Avanzas si respondes bien una pregunta de tu casillero.</p>
    <p>5. Si la respuesta es incorrecta retrocedes a donde estabas.</p>
    <p>6. Solo se responde una pregunta por turno.</p>
    <p>7. Las categorías son:</p> 
        <p>- Amarillo: Historia</p>
        <p>- Rojo: Arte</p>
        <p>- Verde: Ciencia</p>
        <p>- Rosa: Entretenimiento</p>
        <p>- Naranja: Deportes</p>
        <p>- Gris: Categoría Random</p>
</div>