<div class="col-auto shadow p-3 mb-5 bg-light rounded border border-warning" id="reglas">
    <p>1. El objetivo es avanzar por el tablero respondiendo preguntas hasta ganar cinco estrellas.</p>
    <p>2. Cada jugador tira el dado, avanza y tiene que responder una pregunta de la categoria que le toco en el casillero.</p>
    <p>3. Conseguis una estrella si respondes bien una pregunta de los casilleros marcados.</p>
    <p>4. Avanzas solamente si respondes bien una pregunta de tu casillero.</p>
</div>