.header {
    width: 100%;
    height: 56px;
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

body{
    background-image: url("/images/cuadrille.png");
    font-family: 'Inter', sans-serif;
}

.botonlogin {
    color: #fff;
    background-color:#804000;
    border-color:#804000;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    position: absolute;
    bottom: 14%;
    left: 15%;
    width: 137px;
    font-family: 'Inter', sans-serif;
}

.botonregistro {
    color: #fff;
    background-color: #b88b5c;
    border-color:#b88b5c;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    position: absolute;
    bottom: 14%;
    right: 15%;
    font-family: 'Inter', sans-serif;
}

.botonregistro2 {
    color: #fff;
    background-color: #8b6e4e;
    border-color:#8b6e4e;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    position: absolute;
    bottom: 9%;
    right: 35%;
    font-family: 'Inter', sans-serif;
}


ul {
    padding: 0;
    list-style-type: none;
}

li {
    font-size: 25px;
    width: 8em;
    height: 2em;
    color: orange;
    border-left: 0.08em solid;
    position: relative;
    margin-top: 0.8em;
    cursor: pointer;
}

li::before,
li::after
 {
    content: '';
    position: absolute;
    width: inherit;
    border-left: inherit;
    z-index: -1;
}

li::before {
    height: 80%;
    top: 10%;
    left: calc(-0.15em - 0.08em * 2);
    filter: brightness(0.8);
}

li::after {
    height: 60%;
    top: 20%;
    left: calc(-0.15em * 2 - 0.08em * 3);
    filter: brightness(0.6);
}

li span {
    position: relative;
    height: 120%;
    top: -10%;
    box-sizing: border-box;
    border: 0.08em solid;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    text-transform: capitalize;
    transform: translateX(calc(-0.15em * 3 - 0.08em * 2));
    transition: 0.3s;
}

li:hover span {
    transform: translateX(0.15em);
}

#reglas {
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 25%;
    font-family: 'Inter', sans-serif;
 
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.tablero {
    width: 700px;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    background-color: #fff;
    border-color: #000;
    border-top-right-radius: 1px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;

}
.tablero *{
    text-align: center;
    font-size:40px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    user-select: none;
}
.tablero *:hover{
    font-weight: 600;
}

.historia {
    background-color: #ffc923;
    border-color: #000;
    
}

.deportes {
    background-color: #ff9c00;
    border-color: #000;
}

.arte {
    background-color: #f44336;
    border-color: #000;
}

.ciencia {
    background-color: #0b6631;
    border-color: #000;
}
.entretenimiento {
    background-color: #ff82bf;
    border-color: #000;
}
.random {
    background-color: #999999;
    border-color: #000;

}

.borde{
    border: solid black 2px;
}

.fichita {
    width: 12px;
    height: 12px;
    position: relative;
}

.fichita-p1 {
    background-color: #309BEF;
    border: solid black 1px;
    top: 6px;
    left: 3px;
}

.fichita-p2 {
    background-color: #24F7B0;
    border: solid black 1px;
    top: -6px;
    left: 38px;
}

.fichita-p3 {
    background-color: #9724F7;
    border: solid black 1px;
    top: 15px;
    left: 4px;
}

.fichita-p4 {
    background-color: #85F83B;
    border: solid black 1px;
    top: 3px;
    left: 38px;
}


.menu {
    font-size: 75px;
    color: white; 
}

#contenedor {

    width: 500px;
    position: absolute;
    top: 28%;
    left: 0;
    bottom: 22%;
    right: 0;
    margin: auto;
    font-family: 'Inter', sans-serif;

}

#myModal {
    height: 800px;
    width: 600px;
    position: absolute;
    top: 28%;
    left: 0;
    bottom: 22%;
    right: 0;
    margin: auto;
    font-family: 'Inter', sans-serif;

}
  
  
.texto {
    position: absolute;
    top: 19%;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    font-family: 'Inter', sans-serif;
    color: white;
}

#dado {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;

}

#number {
    font-size:30px;
    color:#000000;
  }


.estrella{
    width: 25px;
    height: 25px;

}

#id_titulo {
    font-size: 15px;
}

