.header {
    width: 100%;
    height: 56px;
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

body{
    background-image: url("/images/cuadrille.png");
    font-family: 'Inter', sans-serif;
    color: white;
}

.botonlogin {
    color: #fff;
    background-color:#804000;
    border-color:#804000;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    position: absolute;
    bottom: 14%;
    left: 15%;
    width: 137px;
    font-family: 'Inter', sans-serif;
}

.botonregistro {
    color: #fff;
    background-color: #b88b5c;
    border-color:#b88b5c;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    position: absolute;
    bottom: 14%;
    right: 15%;
    font-family: 'Inter', sans-serif;
}

.botonregistro2 {
    color: #fff;
    background-color: #8b6e4e;
    border-color:#8b6e4e;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    position: absolute;
    bottom: 5%;
    right: 35%;
    font-family: 'Inter', sans-serif;
}


ul {
    padding: 0;
    list-style-type: none;
}

li {
    font-size: 25px;
    width: 8em;
    height: 2em;
    color: orange;
    border-left: 0.08em solid;
    position: relative;
    margin-top: 0.8em;
    cursor: pointer;
}

li::before,
li::after
 {
    content: '';
    position: absolute;
    width: inherit;
    border-left: inherit;
    z-index: -1;
}

li::before {
    height: 80%;
    top: 10%;
    left: calc(-0.15em - 0.08em * 2);
    filter: brightness(0.8);
}

li::after {
    height: 60%;
    top: 20%;
    left: calc(-0.15em * 2 - 0.08em * 3);
    filter: brightness(0.6);
}

li span {
    position: relative;
    height: 120%;
    top: -10%;
    box-sizing: border-box;
    border: 0.08em solid;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    text-transform: capitalize;
    transform: translateX(calc(-0.15em * 3 - 0.08em * 2));
    transition: 0.3s;
}

li:hover span {
    transform: translateX(0.15em);
}

#reglas {
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 25%;
    font-family: 'Inter', sans-serif;
 
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.tablero {
    width: 700px;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    background-color: #fff;
    border-color: #000;
    border-top-right-radius: 1px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;

}
.tablero *{
    text-align: center;
    font-size:40px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    user-select: none;
}
.tablero *:hover{
    font-weight: 600;
}

.historia {
    background-color: #ffc923;
    border-color: #000;
    
}

.deportes {
    background-color: #ff9c00;
    border-color: #000;
}

.arte {
    background-color: #f44336;
    border-color: #000;
}

.ciencia {
    background-color: #0b6631;
    border-color: #000;
}
.entretenimiento {
    background-color: #ff82bf;
    border-color: #000;
}
.random {
    background-color: #999999;
    border-color: #000;

}

.borde{
    border: solid black 2px;
}

.fichita {
    width: 12px;
    height: 12px;
    position: relative;
}

.fichita-p1 {
    background-color: #309BEF;
    border: solid black 1px;
    top: 4%;
    left: 4%;
}

.fichita-p2 {
    background-color: #24F7B0;
    border: solid black 1px;
    top: 8%;
    left: 4%;
}

.fichita-p3 {
    background-color: #9724F7;
    border: solid black 1px;
    top: 10%;
    left: 4%;
}

.fichita-p4 {
    background-color: #85F83B;
    border: solid black 1px;
    top: 12%;
    left: 4%;
}


.menu {
    font-size: 75px;
    color: white; 
}

#contenedor {

    width: 500px;
    position: absolute;
    top: 28%;
    left: 0;
    bottom: 22%;
    right: 0;
    margin: auto;
    font-family: 'Inter', sans-serif;

}

#myModal {
    height: 800px;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 0;
    bottom: 0%;
    right: 0;
    margin: auto;
    font-family: 'Inter', sans-serif;

}
  
  
.texto {
    position: absolute;
    top: 19%;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    font-family: 'Inter', sans-serif;
    color: white;
}

#dado {
    width: 135px;
    height: 135px;
    position: absolute;
    top: 42%;
    left: 45.75%;

}

#number {
    font-size:30px;
    color:#000000;
  }


.estrella{
    width: 15px;
    height: 15px;

}

#id_titulo {
    font-size: 15px;
}

.fichitaGrandeP1 {
    width: 160px;
    height: 75px;
    position: absolute;
    background-color: #309BEF;
    border: solid black 1px;
    top: 3%;
    left: 2%;
}

.fichitaGrandeP2 {
    width: 160px;
    height: 75px;
    position: absolute;
    background-color: #24F7B0;
    border: solid black 1px;
    top: 3%;
    right: 2%;
}

.fichitaGrandeP3 {
    width: 160px;
    height: 75px;
    position: absolute;
    background-color: #9724F7;
    border: solid black 1px;
    bottom: 3%;
    left: 2%;
}

.fichitaGrandeP4 {
    width: 160px;
    height: 75px;
    position: absolute;
    background-color: #85F83B;
    border: solid black 1px;
    bottom: 3%;
    right: 2%;
}

.piola {
    font-family: 'Cinzel', serif;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}
.weather-content {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    max-width: 501px;
    text-align: center;
    padding: 20px 20px 50px;
    margin: 10% auto 0;
    background-color: #546785;
    border-radius: 9px;
}
.weather-content h1{
    font-size: 34px;
    margin-bottom: 10px;
    color: #FFF;
}
.weather-content p{
    color: #cfcfd9;
}
.result{
    margin-bottom: 8%;
}
.result p{
    margin: 5px 0 5px;
}
.result h2{
    font-size: 70px;
    line-height: 70px;
    margin: -10px 0 10px;
    color: #fff;
}
.result h5{
    font-size: 21px;
    margin: 2px;
    color: #fff;
}
form {
    display: flex;
    flex-direction: column;
}
form input[type="text"], form input[type="submit"], form select{
    width: 100%;
    margin: 0px 0 25px;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: 'Montserrat', sans-serif;
}
form input[type="submit"]{
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
    background-color: #14d4a5;
    border: 1px solid #14d4a5;
    color: #fff;
    font-weight: 600;
    transition: width 1s;
}
form input[type="submit"]:hover{
    width: 50%;
}
.alert-message {
    margin: 24px 0 0;
    color: red!important;
}